In [ ]:
1. Sales Data Analysis
Use Case: Analyze sales data for trends, customer segmentation, or performance.
Operations:
Count total sales per product category.
Calculate the total revenue generated by each sales representative.
Find the product with the highest sales.
Group data by sales regions and calculate average sales.

In [24]:
import pandas as pd

data = {
    'ProductCategory': ['Electronics', 'Furniture', 'Clothing', 'Electronics', 'Clothing', 'Furniture'],
    'SalesRepresentative': ['John', 'Doe', 'Alice', 'Doe', 'John', 'Alice'],
    'Product': ['Phone', 'Table', 'Shirt', 'Laptop', 'Pants', 'Chair'],
    'Region': ['North', 'West', 'East', 'North', 'East', 'West'],
    'SalesAmount': [200, 300, 150, 400, 100, 250]
}

df = pd.DataFrame(data)
print(df)

  ProductCategory SalesRepresentative Product Region  SalesAmount
0     Electronics                John   Phone  North          200
1       Furniture                 Doe   Table   West          300
2        Clothing               Alice   Shirt   East          150
3     Electronics                 Doe  Laptop  North          400
4        Clothing                John   Pants   East          100
5       Furniture               Alice   Chair   West          250

In [26]:
# 1. Count total sales per product category
total_sales_per_category = df.groupby('ProductCategory')['SalesAmount'].sum().reset_index()
total_sales_per_category

  ProductCategory  SalesAmount
0        Clothing          250
1     Electronics          600
2       Furniture          550

In [28]:
# 2. Calculate total revenue by sales representative
total_revenue_by_rep = df.groupby('SalesRepresentative')['SalesAmount'].sum().reset_index()
total_revenue_by_rep

  SalesRepresentative  SalesAmount
0               Alice          400
1                 Doe          700
2                John          300

In [30]:
# 3. Find the product with the highest sales
product_with_highest_sales = df.groupby('Product')['SalesAmount'].sum().idxmax()
product_with_highest_sales

'Laptop'

In [32]:
# 4. Group by sales region and calculate average sales
average_sales_by_region = df.groupby('Region')['SalesAmount'].mean().reset_index()
average_sales_by_region

  Region  SalesAmount
0   East        125.0
1  North        300.0
2   West        275.0

In [ ]:
2. Employee Data Analysis
Use Case: Manage and analyze employee-related data like salaries, departments, and performance.
Operations:
Count the number of employees per department.
Find the employee with the highest salary.
Calculate average salary per department.
Sort employees based on their performance score or salary.

In [36]:
import pandas as pd

# Sample employee data
data = {
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107],
    'Name': ['John', 'Emma', 'Sophia', 'Michael', 'Olivia', 'David', 'Liam'],
    'Department': ['HR', 'Finance', 'IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [60000, 75000, 90000, 62000, 95000, 70000, 58000],
    'Performance_Score': [85, 92, 88, 79, 95, 90, 78]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Employee_ID     Name Department  Salary  Performance_Score
0          101     John         HR   60000                 85
1          102     Emma    Finance   75000                 92
2          103   Sophia         IT   90000                 88
3          104  Michael         HR   62000                 79
4          105   Olivia         IT   95000                 95
5          106    David    Finance   70000                 90
6          107     Liam         HR   58000                 78

In [40]:
# 1. Count the Number of Employees per Department:
employees_per_department = df.groupby('Department')['Employee_ID'].count()
print(employees_per_department)

Department
Finance    2
HR         3
IT         2
Name: Employee_ID, dtype: int64

In [42]:
# 2.Find the Employee with the Highest Salary
highest_salary_employee = df.loc[df['Salary'].idxmax()]
highest_salary_employee

Employee_ID             105
Name                 Olivia
Department               IT
Salary                95000
Performance_Score        95
Name: 4, dtype: object

In [44]:
#3.Calculate Average Salary per Department:
avg_salary_per_department = df.groupby('Department')['Salary'].mean()
avg_salary_per_department

Department
Finance    72500.0
HR         60000.0
IT         92500.0
Name: Salary, dtype: float64

In [46]:
#4. Sort Employees Based on Their Performance Score:
sorted_by_performance = df.sort_values('Performance_Score', ascending=False)
sorted_by_performance

   Employee_ID     Name Department  Salary  Performance_Score
4          105   Olivia         IT   95000                 95
1          102     Emma    Finance   75000                 92
5          106    David    Finance   70000                 90
2          103   Sophia         IT   90000                 88
0          101     John         HR   60000                 85
3          104  Michael         HR   62000                 79
6          107     Liam         HR   58000                 78

In [48]:
# Sort Employees Based on Their Sort by Salary:
sorted_by_salary = df.sort_values('Salary', ascending=False)
sorted_by_salary

   Employee_ID     Name Department  Salary  Performance_Score
4          105   Olivia         IT   95000                 95
2          103   Sophia         IT   90000                 88
1          102     Emma    Finance   75000                 92
5          106    David    Finance   70000                 90
3          104  Michael         HR   62000                 79
0          101     John         HR   60000                 85
6          107     Liam         HR   58000                 78

In [ ]:
3. Financial Data (Stock Market)
Use Case: Perform financial data analysis for stocks, assets, and investments.
Operations:
Calculate daily, weekly, or monthly stock returns.
Find the stock with the highest or lowest closing price.
Compute moving averages for stock prices.
Group stock data by industry or sector and calculate key metrics like P/E ratio or market cap. create a dataframe first and then answer these questions

In [50]:
import pandas as pd

# Sample stock market data
data = {
    'Stock_Ticker': ['AAPL', 'GOOGL', 'MSFT', 'TSLA', 'AMZN', 'AAPL', 'GOOGL', 'MSFT', 'TSLA', 'AMZN'],
    'Date': ['2024-09-01', '2024-09-01', '2024-09-01', '2024-09-01', '2024-09-01',
             '2024-09-02', '2024-09-02', '2024-09-02', '2024-09-02', '2024-09-02'],
    'Industry': ['Tech', 'Tech', 'Tech', 'Automotive', 'E-commerce', 'Tech', 'Tech', 'Tech', 'Automotive', 'E-commerce'],
    'Sector': ['Consumer Electronics', 'Search Engines', 'Software', 'Automotive', 'Retail', 
               'Consumer Electronics', 'Search Engines', 'Software', 'Automotive', 'Retail'],
    'Closing_Price': [150, 2800, 305, 700, 3400, 152, 2820, 310, 710, 3450],
    'Market_Cap': [2.5e12, 1.8e12, 2.3e12, 0.7e12, 1.7e12, 2.6e12, 1.85e12, 2.35e12, 0.72e12, 1.75e12],
    'P/E_Ratio': [30, 28, 35, 25, 70, 31, 29, 34, 24, 71]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

  Stock_Ticker        Date    Industry                Sector  Closing_Price  \
0         AAPL  2024-09-01        Tech  Consumer Electronics            150
1        GOOGL  2024-09-01        Tech        Search Engines           2800
2         MSFT  2024-09-01        Tech              Software            305
3         TSLA  2024-09-01  Automotive            Automotive            700
4         AMZN  2024-09-01  E-commerce                Retail           3400
5         AAPL  2024-09-02        Tech  Consumer Electronics            152
6        GOOGL  2024-09-02        Tech        Search Engines           2820
7         MSFT  2024-09-02        Tech              Software            310
8         TSLA  2024-09-02  Automotive            Automotive            710
9         AMZN  2024-09-02  E-commerce                Retail           3450

     Market_Cap  P/E_Ratio
0  2.500000e+12         30
1  1.800000e+12         28
2  2.300000e+12         35
3  7.000000e+11         25
4  1.700000e+12         70
5  2.600000e+12         31
6  1.850000e+12         29
7  2.350000e+12         34
8  7.200000e+11         24
9  1.750000e+12         71

In [52]:
#1. Calculate Daily, Weekly, or Monthly Stock Returns:
df['Daily_Return'] = df.groupby('Stock_Ticker')['Closing_Price'].pct_change()
print(df)

  Stock_Ticker        Date    Industry                Sector  Closing_Price  \
0         AAPL  2024-09-01        Tech  Consumer Electronics            150
1        GOOGL  2024-09-01        Tech        Search Engines           2800
2         MSFT  2024-09-01        Tech              Software            305
3         TSLA  2024-09-01  Automotive            Automotive            700
4         AMZN  2024-09-01  E-commerce                Retail           3400
5         AAPL  2024-09-02        Tech  Consumer Electronics            152
6        GOOGL  2024-09-02        Tech        Search Engines           2820
7         MSFT  2024-09-02        Tech              Software            310
8         TSLA  2024-09-02  Automotive            Automotive            710
9         AMZN  2024-09-02  E-commerce                Retail           3450

     Market_Cap  P/E_Ratio  Daily_Return
0  2.500000e+12         30           NaN
1  1.800000e+12         28           NaN
2  2.300000e+12         35           NaN
3  7.000000e+11         25           NaN
4  1.700000e+12         70           NaN
5  2.600000e+12         31      0.013333
6  1.850000e+12         29      0.007143
7  2.350000e+12         34      0.016393
8  7.200000e+11         24      0.014286
9  1.750000e+12         71      0.014706

In [58]:
#2. Find the Stock with the Highest Closing Price:
highest_closing_price = df.loc[df['Closing_Price'].idxmax()]
print(highest_closing_price)

Stock_Ticker                AMZN
Date                  2024-09-02
Industry              E-commerce
Sector                    Retail
Closing_Price               3450
Market_Cap       1750000000000.0
P/E_Ratio                     71
Daily_Return            0.014706
Name: 9, dtype: object

In [62]:
#2. Find the Stock with the Lowest Closing Price:
lowest_closing_price = df.loc[df['Closing_Price'].idxmin()]
print(lowest_closing_price)

Stock_Ticker                     AAPL
Date                       2024-09-01
Industry                         Tech
Sector           Consumer Electronics
Closing_Price                     150
Market_Cap            2500000000000.0
P/E_Ratio                          30
Daily_Return                      NaN
Name: 0, dtype: object

In [64]:
#3 Compute Moving Averages for Stock Prices:
df['2_Day_MA'] = df.groupby('Stock_Ticker')['Closing_Price'].rolling(window=2).mean().reset_index(0, drop=True)
print(df)

  Stock_Ticker        Date    Industry                Sector  Closing_Price  \
0         AAPL  2024-09-01        Tech  Consumer Electronics            150
1        GOOGL  2024-09-01        Tech        Search Engines           2800
2         MSFT  2024-09-01        Tech              Software            305
3         TSLA  2024-09-01  Automotive            Automotive            700
4         AMZN  2024-09-01  E-commerce                Retail           3400
5         AAPL  2024-09-02        Tech  Consumer Electronics            152
6        GOOGL  2024-09-02        Tech        Search Engines           2820
7         MSFT  2024-09-02        Tech              Software            310
8         TSLA  2024-09-02  Automotive            Automotive            710
9         AMZN  2024-09-02  E-commerce                Retail           3450

     Market_Cap  P/E_Ratio  Daily_Return  2_Day_MA
0  2.500000e+12         30           NaN       NaN
1  1.800000e+12         28           NaN       NaN
2  2.300000e+12         35           NaN       NaN
3  7.000000e+11         25           NaN       NaN
4  1.700000e+12         70           NaN       NaN
5  2.600000e+12         31      0.013333     151.0
6  1.850000e+12         29      0.007143    2810.0
7  2.350000e+12         34      0.016393     307.5
8  7.200000e+11         24      0.014286     705.0
9  1.750000e+12         71      0.014706    3425.0

In [66]:
avg_pe_by_industry = df.groupby('Industry')['P/E_Ratio'].mean()
print(avg_pe_by_industry)

Industry
Automotive    24.500000
E-commerce    70.500000
Tech          31.166667
Name: P/E_Ratio, dtype: float64

In [68]:
#4.Group Stock Data by Industry or Sector and Calculate Key Metrics:
#Group by Industry and Calculate Average P/E Ratio:
total_market_cap_by_sector = df.groupby('Sector')['Market_Cap'].sum()
print(total_market_cap_by_sector)

Sector
Automotive              1.420000e+12
Consumer Electronics    5.100000e+12
Retail                  3.450000e+12
Search Engines          3.650000e+12
Software                4.650000e+12
Name: Market_Cap, dtype: float64

In [70]:
#4.#4.Group Stock Data by Industry or Sector and Calculate Key Metrics:
#Group by Sector and Calculate Total Market Cap:
total_market_cap_by_sector = df.groupby('Sector')['Market_Cap'].sum()
print(total_market_cap_by_sector)

Sector
Automotive              1.420000e+12
Consumer Electronics    5.100000e+12
Retail                  3.450000e+12
Search Engines          3.650000e+12
Software                4.650000e+12
Name: Market_Cap, dtype: float64

In [ ]:
4. Customer Data Analysis
Use Case: Analyze customer behavior or segmentation data.
Operations:
Group customers by location and calculate total purchases per city.
Find the customer who made the highest number of purchases.
Calculate the average amount spent per customer.
Sort customers by their total purchase value. create a dataframe first and then answer these questions

In [72]:
import pandas as pd

# Sample customer data
data = {
    'Customer_ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah'],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles', 'Chicago', 'New York', 'Chicago'],
    'Purchases': [5, 8, 12, 6, 9, 5, 7, 10],
    'Total_Spent': [500, 800, 1200, 600, 900, 550, 750, 1100]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Customer_ID     Name         City  Purchases  Total_Spent
0            1    Alice     New York          5          500
1            2      Bob  Los Angeles          8          800
2            3  Charlie     New York         12         1200
3            4    David      Chicago          6          600
4            5      Eva  Los Angeles          9          900
5            6    Frank      Chicago          5          550
6            7    Grace     New York          7          750
7            8   Hannah      Chicago         10         1100

In [74]:
#1 Group Customers by Location and Calculate Total Purchases per City:
purchases_per_city = df.groupby('City')['Purchases'].sum()
print(purchases_per_city)

City
Chicago        21
Los Angeles    17
New York       24
Name: Purchases, dtype: int64

In [76]:
#2 Find the Customer Who Made the Highest Number of Purchases:
highest_purchases_customer = df.loc[df['Purchases'].idxmax()]
print(highest_purchases_customer)

Customer_ID           3
Name            Charlie
City           New York
Purchases            12
Total_Spent        1200
Name: 2, dtype: object

In [78]:
#3 Calculate the Average Amount Spent per Customer:
avg_spent_per_customer = df['Total_Spent'].mean()
print(avg_spent_per_customer)

800.0

In [80]:
#4. Sort Customers by Their Total Purchase Value:
sorted_by_total_spent = df.sort_values('Total_Spent', ascending=False)
print(sorted_by_total_spent)

   Customer_ID     Name         City  Purchases  Total_Spent
2            3  Charlie     New York         12         1200
7            8   Hannah      Chicago         10         1100
4            5      Eva  Los Angeles          9          900
1            2      Bob  Los Angeles          8          800
6            7    Grace     New York          7          750
3            4    David      Chicago          6          600
5            6    Frank      Chicago          5          550
0            1    Alice     New York          5          500

In [ ]:
5. Healthcare Data
Use Case: Analyze patient data or medical records to gain insights.
Operations:
Count the number of patients per hospital or department.
Calculate the average hospital stay per disease.
Identify the doctor with the most patients.
Sort patients based on age, condition severity, or treatment costs.

In [82]:
import pandas as pd

# Sample healthcare data
data = {
    'Patient_ID': [101, 102, 103, 104, 105, 106, 107],
    'Name': ['John', 'Emma', 'Sophia', 'Michael', 'Olivia', 'David', 'Liam'],
    'Hospital': ['City Hospital', 'City Hospital', 'Green Valley', 'Green Valley', 'Blue Cross', 'City Hospital', 'Blue Cross'],
    'Department': ['Cardiology', 'Neurology', 'Cardiology', 'Orthopedics', 'Neurology', 'Orthopedics', 'Cardiology'],
    'Doctor': ['Dr. Smith', 'Dr. Adams', 'Dr. Smith', 'Dr. Brown', 'Dr. Adams', 'Dr. Brown', 'Dr. Smith'],
    'Disease': ['Heart Attack', 'Stroke', 'Heart Attack', 'Fracture', 'Stroke', 'Fracture', 'Heart Attack'],
    'Hospital_Stay_Days': [5, 12, 4, 8, 14, 10, 6],
    'Age': [65, 70, 55, 45, 60, 50, 58],
    'Condition_Severity': [4, 5, 3, 2, 5, 2, 3],
    'Treatment_Cost': [15000, 25000, 12000, 8000, 26000, 9500, 13500]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Patient_ID     Name       Hospital   Department     Doctor       Disease  \
0         101     John  City Hospital   Cardiology  Dr. Smith  Heart Attack
1         102     Emma  City Hospital    Neurology  Dr. Adams        Stroke
2         103   Sophia   Green Valley   Cardiology  Dr. Smith  Heart Attack
3         104  Michael   Green Valley  Orthopedics  Dr. Brown      Fracture
4         105   Olivia     Blue Cross    Neurology  Dr. Adams        Stroke
5         106    David  City Hospital  Orthopedics  Dr. Brown      Fracture
6         107     Liam     Blue Cross   Cardiology  Dr. Smith  Heart Attack

   Hospital_Stay_Days  Age  Condition_Severity  Treatment_Cost
0                   5   65                   4           15000
1                  12   70                   5           25000
2                   4   55                   3           12000
3                   8   45                   2            8000
4                  14   60                   5           26000
5                  10   50                   2            9500
6                   6   58                   3           13500

In [84]:
#1. Count the Number of Patients per Hospital 
patients_per_hospital = df.groupby('Hospital')['Patient_ID'].count()
print(patients_per_hospital)

Hospital
Blue Cross       2
City Hospital    3
Green Valley     2
Name: Patient_ID, dtype: int64

In [86]:
#1. Count the Number of Patients per Department
patients_per_department = df.groupby('Department')['Patient_ID'].count()
print(patients_per_department)

Department
Cardiology     3
Neurology      2
Orthopedics    2
Name: Patient_ID, dtype: int64

In [88]:
#2. Calculate the Average Hospital Stay per Disease:
avg_stay_per_disease = df.groupby('Disease')['Hospital_Stay_Days'].mean()
print(avg_stay_per_disease)

Disease
Fracture         9.0
Heart Attack     5.0
Stroke          13.0
Name: Hospital_Stay_Days, dtype: float64

In [92]:
#3.Identify the Doctor with the Most Patients:
doctor_with_most_patients = df.groupby('Doctor')['Patient_ID'].count().idxmax()
print(doctor_with_most_patients)

Dr. Smith

In [94]:
#4. Sort Patients Based on Age:
sorted_by_age = df.sort_values('Age', ascending=True)
print(sorted_by_age)

   Patient_ID     Name       Hospital   Department     Doctor       Disease  \
3         104  Michael   Green Valley  Orthopedics  Dr. Brown      Fracture
5         106    David  City Hospital  Orthopedics  Dr. Brown      Fracture
2         103   Sophia   Green Valley   Cardiology  Dr. Smith  Heart Attack
6         107     Liam     Blue Cross   Cardiology  Dr. Smith  Heart Attack
4         105   Olivia     Blue Cross    Neurology  Dr. Adams        Stroke
0         101     John  City Hospital   Cardiology  Dr. Smith  Heart Attack
1         102     Emma  City Hospital    Neurology  Dr. Adams        Stroke

   Hospital_Stay_Days  Age  Condition_Severity  Treatment_Cost
3                   8   45                   2            8000
5                  10   50                   2            9500
2                   4   55                   3           12000
6                   6   58                   3           13500
4                  14   60                   5           26000
0                   5   65                   4           15000
1                  12   70                   5           25000

In [96]:
#4. Sort Patients Based on Condition Severity:
sorted_by_severity = df.sort_values('Condition_Severity', ascending=False)
print(sorted_by_severity)

   Patient_ID     Name       Hospital   Department     Doctor       Disease  \
1         102     Emma  City Hospital    Neurology  Dr. Adams        Stroke
4         105   Olivia     Blue Cross    Neurology  Dr. Adams        Stroke
0         101     John  City Hospital   Cardiology  Dr. Smith  Heart Attack
2         103   Sophia   Green Valley   Cardiology  Dr. Smith  Heart Attack
6         107     Liam     Blue Cross   Cardiology  Dr. Smith  Heart Attack
3         104  Michael   Green Valley  Orthopedics  Dr. Brown      Fracture
5         106    David  City Hospital  Orthopedics  Dr. Brown      Fracture

   Hospital_Stay_Days  Age  Condition_Severity  Treatment_Cost
1                  12   70                   5           25000
4                  14   60                   5           26000
0                   5   65                   4           15000
2                   4   55                   3           12000
6                   6   58                   3           13500
3                   8   45                   2            8000
5                  10   50                   2            9500

In [98]:
#4. Sort Patients Based on Treatment Costs:
sorted_by_cost = df.sort_values('Treatment_Cost', ascending=False)
print(sorted_by_cost)

   Patient_ID     Name       Hospital   Department     Doctor       Disease  \
4         105   Olivia     Blue Cross    Neurology  Dr. Adams        Stroke
1         102     Emma  City Hospital    Neurology  Dr. Adams        Stroke
0         101     John  City Hospital   Cardiology  Dr. Smith  Heart Attack
6         107     Liam     Blue Cross   Cardiology  Dr. Smith  Heart Attack
2         103   Sophia   Green Valley   Cardiology  Dr. Smith  Heart Attack
5         106    David  City Hospital  Orthopedics  Dr. Brown      Fracture
3         104  Michael   Green Valley  Orthopedics  Dr. Brown      Fracture

   Hospital_Stay_Days  Age  Condition_Severity  Treatment_Cost
4                  14   60                   5           26000
1                  12   70                   5           25000
0                   5   65                   4           15000
6                   6   58                   3           13500
2                   4   55                   3           12000
5                  10   50                   2            9500
3                   8   45                   2            8000

In [ ]:
6. E-commerce Data Analysis
Use Case: Analyze online sales, product views, and customer engagement data.
Operations:
Count total orders per product category.
Find the most viewed or most purchased product.
Calculate the average cart value of customers.
Sort products by total sales or views.

In [100]:
import pandas as pd

# Sample e-commerce data
data = {
    'Product_ID': [1001, 1002, 1003, 1004, 1005, 1006],
    'Product_Name': ['Laptop', 'Smartphone', 'Headphones', 'Smartwatch', 'Tablet', 'Camera'],
    'Category': ['Electronics', 'Electronics', 'Accessories', 'Wearables', 'Electronics', 'Photography'],
    'Views': [1200, 3500, 800, 950, 2300, 1200],
    'Orders': [300, 500, 150, 180, 400, 250],
    'Price': [1500, 700, 200, 250, 500, 1200],
    'Customer_ID': [101, 102, 103, 104, 105, 106],
    'Cart_Value': [1600, 900, 200, 260, 550, 1300]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Product_ID Product_Name     Category  Views  Orders  Price  Customer_ID  \
0        1001       Laptop  Electronics   1200     300   1500          101
1        1002   Smartphone  Electronics   3500     500    700          102
2        1003   Headphones  Accessories    800     150    200          103
3        1004   Smartwatch    Wearables    950     180    250          104
4        1005       Tablet  Electronics   2300     400    500          105
5        1006       Camera  Photography   1200     250   1200          106

   Cart_Value
0        1600
1         900
2         200
3         260
4         550
5        1300

In [102]:
#1.Count Total Orders per Product Category:
orders_per_category = df.groupby('Category')['Orders'].sum()
print(orders_per_category)

Category
Accessories     150
Electronics    1200
Photography     250
Wearables       180
Name: Orders, dtype: int64

In [104]:
#2. Find the Most Viewed Product:
most_viewed_product = df.loc[df['Views'].idxmax()]
print(most_viewed_product)

Product_ID             1002
Product_Name     Smartphone
Category        Electronics
Views                  3500
Orders                  500
Price                   700
Customer_ID             102
Cart_Value              900
Name: 1, dtype: object

In [106]:
#2. Find the Most Purchased Product:
most_purchased_product = df.loc[df['Orders'].idxmax()]
print(most_purchased_product)

Product_ID             1002
Product_Name     Smartphone
Category        Electronics
Views                  3500
Orders                  500
Price                   700
Customer_ID             102
Cart_Value              900
Name: 1, dtype: object

In [108]:
#3. Calculate the Average Cart Value of Customers:
avg_cart_value = df['Cart_Value'].mean()
print(avg_cart_value)

801.6666666666666

In [110]:
#4. Sort Products by Total Sales:
sorted_by_orders = df.sort_values('Orders', ascending=False)
print(sorted_by_orders)

   Product_ID Product_Name     Category  Views  Orders  Price  Customer_ID  \
1        1002   Smartphone  Electronics   3500     500    700          102
4        1005       Tablet  Electronics   2300     400    500          105
0        1001       Laptop  Electronics   1200     300   1500          101
5        1006       Camera  Photography   1200     250   1200          106
3        1004   Smartwatch    Wearables    950     180    250          104
2        1003   Headphones  Accessories    800     150    200          103

   Cart_Value
1         900
4         550
0        1600
5        1300
3         260
2         200

In [112]:
#4. Sort by Views:
sorted_by_views = df.sort_values('Views', ascending=False)
print(sorted_by_views)

   Product_ID Product_Name     Category  Views  Orders  Price  Customer_ID  \
1        1002   Smartphone  Electronics   3500     500    700          102
4        1005       Tablet  Electronics   2300     400    500          105
0        1001       Laptop  Electronics   1200     300   1500          101
5        1006       Camera  Photography   1200     250   1200          106
3        1004   Smartwatch    Wearables    950     180    250          104
2        1003   Headphones  Accessories    800     150    200          103

   Cart_Value
1         900
4         550
0        1600
5        1300
3         260
2         200

In [ ]:
7. Sports Data Analytics
Use Case: Analyze player or team performance data.
Operations:
Count the number of goals per team or player.
Calculate the average points scored per game.
Find the player with the highest score in a season.
Sort players or teams by win/loss ratios.

In [114]:
import pandas as pd

# Sample sports data
data = {
    'Player_ID': [1, 2, 3, 4, 5, 6],
    'Player_Name': ['John', 'Emma', 'Sophia', 'Michael', 'Olivia', 'David'],
    'Team': ['Team A', 'Team A', 'Team B', 'Team B', 'Team C', 'Team C'],
    'Goals': [20, 15, 25, 22, 18, 30],
    'Points': [50, 40, 60, 55, 45, 70],
    'Games_Played': [10, 12, 14, 13, 11, 15],
    'Wins': [8, 7, 10, 9, 6, 12],
    'Losses': [2, 5, 4, 3, 5, 3]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Player_ID Player_Name    Team  Goals  Points  Games_Played  Wins  Losses
0          1        John  Team A     20      50            10     8       2
1          2        Emma  Team A     15      40            12     7       5
2          3      Sophia  Team B     25      60            14    10       4
3          4     Michael  Team B     22      55            13     9       3
4          5      Olivia  Team C     18      45            11     6       5
5          6       David  Team C     30      70            15    12       3

In [116]:
#1. Count the Number of Goals per Team:
goals_per_team = df.groupby('Team')['Goals'].sum()
print(goals_per_team)

Team
Team A    35
Team B    47
Team C    48
Name: Goals, dtype: int64

In [118]:
#1. Count the Number of Goals per Player:
goals_per_player = df.groupby('Player_Name')['Goals'].sum()
print(goals_per_player)

Player_Name
David      30
Emma       15
John       20
Michael    22
Olivia     18
Sophia     25
Name: Goals, dtype: int64

In [120]:
#2. Calculate the Average Points Scored per Game:
df['Average_Points_Per_Game'] = df['Points'] / df['Games_Played']
avg_points_per_game = df[['Player_Name', 'Average_Points_Per_Game']]
print(avg_points_per_game)

  Player_Name  Average_Points_Per_Game
0        John                 5.000000
1        Emma                 3.333333
2      Sophia                 4.285714
3     Michael                 4.230769
4      Olivia                 4.090909
5       David                 4.666667

In [122]:
#3. Find the Player with the Highest Score in a Season:
highest_score_player = df.loc[df['Points'].idxmax()]
print(highest_score_player)

Player_ID                         6
Player_Name                   David
Team                         Team C
Goals                            30
Points                           70
Games_Played                     15
Wins                             12
Losses                            3
Average_Points_Per_Game    4.666667
Name: 5, dtype: object

In [124]:
#4. Sort Players or Teams by Win/Loss Ratios:
#By player
df['Win_Loss_Ratio'] = df['Wins'] / df['Losses']
sorted_by_win_loss_ratio = df.sort_values('Win_Loss_Ratio', ascending=False)
print(sorted_by_win_loss_ratio)

   Player_ID Player_Name    Team  Goals  Points  Games_Played  Wins  Losses  \
0          1        John  Team A     20      50            10     8       2
5          6       David  Team C     30      70            15    12       3
3          4     Michael  Team B     22      55            13     9       3
2          3      Sophia  Team B     25      60            14    10       4
1          2        Emma  Team A     15      40            12     7       5
4          5      Olivia  Team C     18      45            11     6       5

   Average_Points_Per_Game  Win_Loss_Ratio
0                 5.000000             4.0
5                 4.666667             4.0
3                 4.230769             3.0
2                 4.285714             2.5
1                 3.333333             1.4
4                 4.090909             1.2

In [126]:
#4. Sort Players or Teams by Win/Loss Ratios:
#By team
team_stats = df.groupby('Team').agg({'Wins': 'sum', 'Losses': 'sum'})
team_stats['Win_Loss_Ratio'] = team_stats['Wins'] / team_stats['Losses']
sorted_by_team_win_loss_ratio = team_stats.sort_values('Win_Loss_Ratio', ascending=False)
print(sorted_by_team_win_loss_ratio)

        Wins  Losses  Win_Loss_Ratio
Team
Team B    19       7        2.714286
Team C    18       8        2.250000
Team A    15       7        2.142857

In [ ]:
8. Survey Data Analysis
Use Case: Analyze responses from customer or employee surveys.
Operations:
Count responses per survey category (e.g., satisfaction, experience).
Calculate the average rating for each question.
Find the question with the most positive or negative responses.
Sort responses by rating or demographic group.

In [128]:
import pandas as pd

# Sample survey data
data = {
    'Respondent_ID': [1, 2, 3, 4, 5, 6, 7],
    'Category': ['Satisfaction', 'Experience', 'Satisfaction', 'Experience', 'Satisfaction', 'Experience', 'Satisfaction'],
    'Question': ['Service Quality', 'Product Quality', 'Service Quality', 'Product Quality', 'Service Quality', 'Product Quality', 'Service Quality'],
    'Rating': [4, 3, 5, 4, 2, 5, 3],
    'Demographic_Group': ['Group A', 'Group B', 'Group A', 'Group B', 'Group A', 'Group C', 'Group B']
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Respondent_ID      Category         Question  Rating Demographic_Group
0              1  Satisfaction  Service Quality       4           Group A
1              2    Experience  Product Quality       3           Group B
2              3  Satisfaction  Service Quality       5           Group A
3              4    Experience  Product Quality       4           Group B
4              5  Satisfaction  Service Quality       2           Group A
5              6    Experience  Product Quality       5           Group C
6              7  Satisfaction  Service Quality       3           Group B

In [130]:
#1. Count Responses per Survey Category:
responses_per_category = df['Category'].value_counts()
print(responses_per_category)

Category
Satisfaction    4
Experience      3
Name: count, dtype: int64

In [132]:
#2. Calculate the Average Rating for Each Question:
avg_rating_per_question = df.groupby('Question')['Rating'].mean()
print(avg_rating_per_question)

Question
Product Quality    4.0
Service Quality    3.5
Name: Rating, dtype: float64

In [134]:
#3. Find the Question with the Most Positive Responses:
most_positive_question = df.groupby('Question')['Rating'].mean().idxmax()
print(most_positive_question)

Product Quality

In [138]:
#3. Find the Question with the Most Negative Responses:
most_negative_question = df.groupby('Question')['Rating'].mean().idxmin()
print(most_negative_question)

Service Quality

In [142]:
#4. Sort Responses by Rating:
sorted_by_rating = df.sort_values('Rating', ascending=False)
print(sorted_by_rating)

   Respondent_ID      Category         Question  Rating Demographic_Group
2              3  Satisfaction  Service Quality       5           Group A
5              6    Experience  Product Quality       5           Group C
0              1  Satisfaction  Service Quality       4           Group A
3              4    Experience  Product Quality       4           Group B
1              2    Experience  Product Quality       3           Group B
6              7  Satisfaction  Service Quality       3           Group B
4              5  Satisfaction  Service Quality       2           Group A

In [144]:
#4. Sort Responses by Demographic Group:
sorted_by_demographic = df.sort_values('Demographic_Group')
print(sorted_by_demographic)

   Respondent_ID      Category         Question  Rating Demographic_Group
0              1  Satisfaction  Service Quality       4           Group A
2              3  Satisfaction  Service Quality       5           Group A
4              5  Satisfaction  Service Quality       2           Group A
1              2    Experience  Product Quality       3           Group B
3              4    Experience  Product Quality       4           Group B
6              7  Satisfaction  Service Quality       3           Group B
5              6    Experience  Product Quality       5           Group C

In [ ]:
9. IoT and Sensor Data
Use Case: Manage time series data from sensors for predictive maintenance or monitoring.
Operations:
Analyze average temperature, pressure, or humidity readings.
Identify anomalies in the sensor data over time.
Group sensor readings by location or machine and calculate metrics.
Sort sensor data by timestamp or severity.

In [146]:
import pandas as pd

# Sample IoT sensor data
data = {
    'Sensor_ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Location': ['Factory A', 'Factory A', 'Factory B', 'Factory B', 'Factory A', 'Factory C', 'Factory B', 'Factory C'],
    'Machine': ['Machine 1', 'Machine 2', 'Machine 1', 'Machine 2', 'Machine 3', 'Machine 1', 'Machine 2', 'Machine 3'],
    'Timestamp': pd.to_datetime(['2024-09-01 08:00', '2024-09-01 09:00', '2024-09-01 08:00', '2024-09-01 09:00', '2024-09-01 08:00',
                                 '2024-09-01 08:00', '2024-09-01 09:00', '2024-09-01 10:00']),
    'Temperature': [70, 72, 68, 73, 71, 75, 69, 74],
    'Pressure': [30, 32, 29, 31, 30, 33, 28, 34],
    'Humidity': [45, 50, 42, 48, 46, 52, 41, 49]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Sensor_ID   Location    Machine           Timestamp  Temperature  Pressure  \
0          1  Factory A  Machine 1 2024-09-01 08:00:00           70        30
1          2  Factory A  Machine 2 2024-09-01 09:00:00           72        32
2          3  Factory B  Machine 1 2024-09-01 08:00:00           68        29
3          4  Factory B  Machine 2 2024-09-01 09:00:00           73        31
4          5  Factory A  Machine 3 2024-09-01 08:00:00           71        30
5          6  Factory C  Machine 1 2024-09-01 08:00:00           75        33
6          7  Factory B  Machine 2 2024-09-01 09:00:00           69        28
7          8  Factory C  Machine 3 2024-09-01 10:00:00           74        34

   Humidity
0        45
1        50
2        42
3        48
4        46
5        52
6        41
7        49

In [148]:
#1. Analyze Average Temperature, Pressure, or Humidity Readings:
avg_temperature = df['Temperature'].mean()
avg_pressure = df['Pressure'].mean()
avg_humidity = df['Humidity'].mean()

print(f'Average Temperature: {avg_temperature}')
print(f'Average Pressure: {avg_pressure}')
print(f'Average Humidity: {avg_humidity}')

Average Temperature: 71.5
Average Pressure: 30.875
Average Humidity: 46.625

In [151]:
#2. Identify Anomalies in the Sensor Data Over Time:
from scipy import stats

# Compute z-scores
df['Temp_Z_Score'] = stats.zscore(df['Temperature'])
df['Pressure_Z_Score'] = stats.zscore(df['Pressure'])
df['Humidity_Z_Score'] = stats.zscore(df['Humidity'])

# Identify anomalies (z-score > 2 or < -2)
anomalies = df[(df['Temp_Z_Score'].abs() > 2) | (df['Pressure_Z_Score'].abs() > 2) | (df['Humidity_Z_Score'].abs() > 2)]
print(anomalies)

Empty DataFrame
Columns: [Sensor_ID, Location, Machine, Timestamp, Temperature, Pressure, Humidity, Temp_Z_Score, Pressure_Z_Score, Humidity_Z_Score]
Index: []

In [154]:
#3.Group by Location and Calculate Average Temperature, Pressure, Humidity:
metrics_by_location = df.groupby('Location').agg({
    'Temperature': 'mean',
    'Pressure': 'mean',
    'Humidity': 'mean'
})
print(metrics_by_location)

           Temperature   Pressure   Humidity
Location
Factory A         71.0  30.666667  47.000000
Factory B         70.0  29.333333  43.666667
Factory C         74.5  33.500000  50.500000

In [156]:
#3. Group by Machine and Calculate Average Temperature, Pressure, Humidity:
metrics_by_machine = df.groupby('Machine').agg({
    'Temperature': 'mean',
    'Pressure': 'mean',
    'Humidity': 'mean'
})
print(metrics_by_machine)

           Temperature   Pressure   Humidity
Machine
Machine 1    71.000000  30.666667  46.333333
Machine 2    71.333333  30.333333  46.333333
Machine 3    72.500000  32.000000  47.500000

In [158]:
#4. Sort Sensor Data by Timestamp
sorted_by_timestamp = df.sort_values('Timestamp')
print(sorted_by_timestamp)

   Sensor_ID   Location    Machine           Timestamp  Temperature  Pressure  \
0          1  Factory A  Machine 1 2024-09-01 08:00:00           70        30
2          3  Factory B  Machine 1 2024-09-01 08:00:00           68        29
4          5  Factory A  Machine 3 2024-09-01 08:00:00           71        30
5          6  Factory C  Machine 1 2024-09-01 08:00:00           75        33
1          2  Factory A  Machine 2 2024-09-01 09:00:00           72        32
3          4  Factory B  Machine 2 2024-09-01 09:00:00           73        31
6          7  Factory B  Machine 2 2024-09-01 09:00:00           69        28
7          8  Factory C  Machine 3 2024-09-01 10:00:00           74        34

   Humidity  Temp_Z_Score  Pressure_Z_Score  Humidity_Z_Score
0        45     -0.654654         -0.460566         -0.450965
2        42     -1.527525         -0.986928         -1.283516
4        46     -0.218218         -0.460566         -0.173448
5        52      1.527525          1.118518          1.491653
1        50      0.218218          0.592157          0.936620
3        48      0.654654          0.065795          0.381586
6        41     -1.091089         -1.513289         -1.561033
7        49      1.091089          1.644879          0.659103

In [160]:
#4. Sort Sensor Data by Severity:
sorted_by_severity = df.sort_values('Temperature', ascending=False)
print(sorted_by_severity)

   Sensor_ID   Location    Machine           Timestamp  Temperature  Pressure  \
5          6  Factory C  Machine 1 2024-09-01 08:00:00           75        33
7          8  Factory C  Machine 3 2024-09-01 10:00:00           74        34
3          4  Factory B  Machine 2 2024-09-01 09:00:00           73        31
1          2  Factory A  Machine 2 2024-09-01 09:00:00           72        32
4          5  Factory A  Machine 3 2024-09-01 08:00:00           71        30
0          1  Factory A  Machine 1 2024-09-01 08:00:00           70        30
6          7  Factory B  Machine 2 2024-09-01 09:00:00           69        28
2          3  Factory B  Machine 1 2024-09-01 08:00:00           68        29

   Humidity  Temp_Z_Score  Pressure_Z_Score  Humidity_Z_Score
5        52      1.527525          1.118518          1.491653
7        49      1.091089          1.644879          0.659103
3        48      0.654654          0.065795          0.381586
1        50      0.218218          0.592157          0.936620
4        46     -0.218218         -0.460566         -0.173448
0        45     -0.654654         -0.460566         -0.450965
6        41     -1.091089         -1.513289         -1.561033
2        42     -1.527525         -0.986928         -1.283516

In [ ]:
10. Social Media Analysis
Use Case: Perform analysis on social media posts, hashtags, or engagement metrics.
Operations:
Count total likes, shares, or comments per post.
Find the post with the highest engagement.
Calculate average engagement per hashtag or user.
Sort posts based on date, likes, or shares.

In [162]:
import pandas as pd

# Sample social media data
data = {
    'Post_ID': [101, 102, 103, 104, 105, 106],
    'User_ID': [1, 2, 1, 3, 2, 1],
    'Date': pd.to_datetime(['2024-09-01', '2024-09-02', '2024-09-03', '2024-09-01', '2024-09-04', '2024-09-02']),
    'Hashtags': ['#fun', '#life', '#fun #summer', '#life', '#summer', '#fun'],
    'Likes': [150, 200, 300, 180, 220, 160],
    'Shares': [20, 25, 40, 30, 35, 22],
    'Comments': [10, 12, 15, 8, 14, 11]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Post_ID  User_ID       Date      Hashtags  Likes  Shares  Comments
0      101        1 2024-09-01          #fun    150      20        10
1      102        2 2024-09-02         #life    200      25        12
2      103        1 2024-09-03  #fun #summer    300      40        15
3      104        3 2024-09-01         #life    180      30         8
4      105        2 2024-09-04       #summer    220      35        14
5      106        1 2024-09-02          #fun    160      22        11

In [164]:
#1.Count Total Likes, Shares, or Comments per Post:
df['Total_Engagement'] = df['Likes'] + df['Shares'] + df['Comments']
print(df[['Post_ID', 'Total_Engagement']])

   Post_ID  Total_Engagement
0      101               180
1      102               237
2      103               355
3      104               218
4      105               269
5      106               193

In [168]:
#2.Find the Post with the Highest Engagement:
highest_engagement_post = df.loc[df['Total_Engagement'].idxmax()]
print(highest_engagement_post)

Post_ID                             103
User_ID                               1
Date                2024-09-03 00:00:00
Hashtags                   #fun #summer
Likes                               300
Shares                               40
Comments                             15
Total_Engagement                    355
Name: 2, dtype: object

In [170]:
#3. Calculate Average Engagement per Hashtag
df_exploded = df.assign(Hashtags=df['Hashtags'].str.split()).explode('Hashtags')
avg_engagement_per_hashtag = df_exploded.groupby('Hashtags')['Total_Engagement'].mean()
print(avg_engagement_per_hashtag)

Hashtags
#fun       242.666667
#life      227.500000
#summer    312.000000
Name: Total_Engagement, dtype: float64

In [174]:
#3. Calculate Average Engagement per User:
avg_engagement_per_user = df.groupby('User_ID')['Total_Engagement'].mean()
print(avg_engagement_per_user)

User_ID
1    242.666667
2    253.000000
3    218.000000
Name: Total_Engagement, dtype: float64

In [176]:
#4.Sort Posts Based on Date
sorted_by_date = df.sort_values('Date')
print(sorted_by_date)

   Post_ID  User_ID       Date      Hashtags  Likes  Shares  Comments  \
0      101        1 2024-09-01          #fun    150      20        10
3      104        3 2024-09-01         #life    180      30         8
1      102        2 2024-09-02         #life    200      25        12
5      106        1 2024-09-02          #fun    160      22        11
2      103        1 2024-09-03  #fun #summer    300      40        15
4      105        2 2024-09-04       #summer    220      35        14

   Total_Engagement
0               180
3               218
1               237
5               193
2               355
4               269

In [178]:
#4. Sort Posts Based on Likes:
sorted_by_likes = df.sort_values('Likes', ascending=False)
print(sorted_by_likes)

   Post_ID  User_ID       Date      Hashtags  Likes  Shares  Comments  \
2      103        1 2024-09-03  #fun #summer    300      40        15
4      105        2 2024-09-04       #summer    220      35        14
1      102        2 2024-09-02         #life    200      25        12
3      104        3 2024-09-01         #life    180      30         8
5      106        1 2024-09-02          #fun    160      22        11
0      101        1 2024-09-01          #fun    150      20        10

   Total_Engagement
2               355
4               269
1               237
3               218
5               193
0               180

In [180]:
#4. Sort Posts Based on Shares:
sorted_by_shares = df.sort_values('Shares', ascending=False)
print(sorted_by_shares)

   Post_ID  User_ID       Date      Hashtags  Likes  Shares  Comments  \
2      103        1 2024-09-03  #fun #summer    300      40        15
4      105        2 2024-09-04       #summer    220      35        14
3      104        3 2024-09-01         #life    180      30         8
1      102        2 2024-09-02         #life    200      25        12
5      106        1 2024-09-02          #fun    160      22        11
0      101        1 2024-09-01          #fun    150      20        10

   Total_Engagement
2               355
4               269
3               218
1               237
5               193
0               180

In [ ]:
11. Educational Data Analysis
Use Case: Analyze student performance, attendance, or academic records.
Operations:
Count the number of students per grade or subject.
Find the student with the highest overall GPA.
Calculate average scores per subject.
Sort students based on their grades or attendance rate.

In [182]:
import pandas as pd

# Sample educational data
data = {
    'Student_ID': [1, 2, 3, 4, 5, 6],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Grade': ['A', 'B', 'A', 'C', 'B', 'A'],
    'Subject': ['Math', 'Science', 'Math', 'English', 'Science', 'Math'],
    'Score': [90, 80, 85, 70, 88, 95],
    'GPA': [3.9, 3.4, 3.7, 2.8, 3.5, 3.8],
    'Attendance_Rate': [95, 88, 90, 85, 92, 96]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Student_ID     Name Grade  Subject  Score  GPA  Attendance_Rate
0           1    Alice     A     Math     90  3.9               95
1           2      Bob     B  Science     80  3.4               88
2           3  Charlie     A     Math     85  3.7               90
3           4    David     C  English     70  2.8               85
4           5      Eva     B  Science     88  3.5               92
5           6    Frank     A     Math     95  3.8               96

In [186]:
#1. Count the Number of Students per Grade:
students_per_grade = df['Grade'].value_counts()
print(students_per_grade)

Grade
A    3
B    2
C    1
Name: count, dtype: int64

In [188]:
#1. Count the Number of Students per Subject:
students_per_subject = df['Subject'].value_counts()
print(students_per_subject)

Subject
Math       3
Science    2
English    1
Name: count, dtype: int64

In [190]:
#2. Find the Student with the Highest Overall GPA:
highest_gpa_student = df.loc[df['GPA'].idxmax()]
print(highest_gpa_student)

Student_ID             1
Name               Alice
Grade                  A
Subject             Math
Score                 90
GPA                  3.9
Attendance_Rate       95
Name: 0, dtype: object

In [196]:
#3 Calculate Average Scores per Subject:
avg_scores_per_subject = df.groupby('Subject')['Score'].mean()
print(avg_scores_per_subject)

Subject
English    70.0
Math       90.0
Science    84.0
Name: Score, dtype: float64

In [194]:
#4. Sort Students Based on Their Grades
sorted_by_gpa = df.sort_values('GPA', ascending=False)
print(sorted_by_gpa)

   Student_ID     Name Grade  Subject  Score  GPA  Attendance_Rate
0           1    Alice     A     Math     90  3.9               95
5           6    Frank     A     Math     95  3.8               96
2           3  Charlie     A     Math     85  3.7               90
4           5      Eva     B  Science     88  3.5               92
1           2      Bob     B  Science     80  3.4               88
3           4    David     C  English     70  2.8               85

In [198]:
#4. Sort Students Based on Their Attendance Rate
sorted_by_attendance = df.sort_values('Attendance_Rate', ascending=False)
print(sorted_by_attendance)

   Student_ID     Name Grade  Subject  Score  GPA  Attendance_Rate
5           6    Frank     A     Math     95  3.8               96
0           1    Alice     A     Math     90  3.9               95
4           5      Eva     B  Science     88  3.5               92
2           3  Charlie     A     Math     85  3.7               90
1           2      Bob     B  Science     80  3.4               88
3           4    David     C  English     70  2.8               85

In [ ]:
12. Inventory Management
Use Case: Analyze inventory data to optimize stock levels.
Operations:
Count total stock per item or category.
Find the item with the highest or lowest stock levels.
Calculate average stock usage per day or week.
Sort items by their restock date or quantity in stock.

In [200]:
import pandas as pd

# Sample inventory data
data = {
    'Item_ID': [101, 102, 103, 104, 105, 106],
    'Item_Name': ['Widget A', 'Widget B', 'Widget C', 'Widget D', 'Widget E', 'Widget F'],
    'Category': ['Electronics', 'Electronics', 'Accessories', 'Office Supplies', 'Electronics', 'Office Supplies'],
    'Stock_Level': [150, 80, 200, 60, 90, 40],
    'Restock_Date': pd.to_datetime(['2024-09-10', '2024-09-15', '2024-09-20', '2024-09-25', '2024-09-30', '2024-10-05']),
    'Stock_Usage_Per_Day': [10, 5, 20, 4, 7, 3]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   Item_ID Item_Name         Category  Stock_Level Restock_Date  \
0      101  Widget A      Electronics          150   2024-09-10
1      102  Widget B      Electronics           80   2024-09-15
2      103  Widget C      Accessories          200   2024-09-20
3      104  Widget D  Office Supplies           60   2024-09-25
4      105  Widget E      Electronics           90   2024-09-30
5      106  Widget F  Office Supplies           40   2024-10-05

   Stock_Usage_Per_Day
0                   10
1                    5
2                   20
3                    4
4                    7
5                    3

In [202]:
#1. Count Total Stock per Item
total_stock_per_item = df.groupby('Item_Name')['Stock_Level'].sum()
print(total_stock_per_item)

Item_Name
Widget A    150
Widget B     80
Widget C    200
Widget D     60
Widget E     90
Widget F     40
Name: Stock_Level, dtype: int64

In [204]:
#1. Count Total Stock per  Category:
total_stock_per_category = df.groupby('Category')['Stock_Level'].sum()
print(total_stock_per_category)

Category
Accessories        200
Electronics        320
Office Supplies    100
Name: Stock_Level, dtype: int64

In [ ]:
highest_stock_item = df.loc[df['Stock_Level'].idxmax()]
print(highest_stock_item)

In [206]:
#2. Find the Item with the Highest Stock Levels:
highest_stock_item = df.loc[df['Stock_Level'].idxmax()]
print(highest_stock_item)

Item_ID                                103
Item_Name                         Widget C
Category                       Accessories
Stock_Level                            200
Restock_Date           2024-09-20 00:00:00
Stock_Usage_Per_Day                     20
Name: 2, dtype: object

In [208]:
#2. Find the Item with the Lowest Stock Levels:
lowest_stock_item = df.loc[df['Stock_Level'].idxmin()]
print(lowest_stock_item)

Item_ID                                106
Item_Name                         Widget F
Category                   Office Supplies
Stock_Level                             40
Restock_Date           2024-10-05 00:00:00
Stock_Usage_Per_Day                      3
Name: 5, dtype: object

In [210]:
#3. Calculate Average Stock Usage Per Day:

avg_stock_usage_per_day = df['Stock_Usage_Per_Day'].mean()
print(avg_stock_usage_per_day)

8.166666666666666

In [212]:
#3. Average Stock Usage Per Week 
avg_stock_usage_per_week = avg_stock_usage_per_day * 7
print(avg_stock_usage_per_week)

57.166666666666664

In [216]:
#4. Sort Items by Their Restock Date
sorted_by_restock_date = df.sort_values('Restock_Date')
print(sorted_by_restock_date)

   Item_ID Item_Name         Category  Stock_Level Restock_Date  \
0      101  Widget A      Electronics          150   2024-09-10
1      102  Widget B      Electronics           80   2024-09-15
2      103  Widget C      Accessories          200   2024-09-20
3      104  Widget D  Office Supplies           60   2024-09-25
4      105  Widget E      Electronics           90   2024-09-30
5      106  Widget F  Office Supplies           40   2024-10-05

   Stock_Usage_Per_Day
0                   10
1                    5
2                   20
3                    4
4                    7
5                    3

In [218]:
#4. Sort Items by Their Quantity in Stock:
sorted_by_stock_level = df.sort_values('Stock_Level', ascending=False)
print(sorted_by_stock_level)

   Item_ID Item_Name         Category  Stock_Level Restock_Date  \
2      103  Widget C      Accessories          200   2024-09-20
0      101  Widget A      Electronics          150   2024-09-10
4      105  Widget E      Electronics           90   2024-09-30
1      102  Widget B      Electronics           80   2024-09-15
3      104  Widget D  Office Supplies           60   2024-09-25
5      106  Widget F  Office Supplies           40   2024-10-05

   Stock_Usage_Per_Day
2                   20
0                   10
4                    7
1                    5
3                    4
5                    3