In [16]:
import pandas as pd

# Load the Excel file
file_path = "ifsc-master.xlsx"
xls = pd.ExcelFile(file_path)

# Initialize a variable to store the total row count
total_rows = 0

# Iterate through all sheets in the Excel file
for sheet_name in xls.sheet_names:
    df = xls.parse(sheet_name)
    total_rows += len(df)

print(f"Total number of rows in all sheets: {total_rows}")

Total number of rows in all sheets: 172031

In [17]:
84360 + 87673

172033

In [33]:
import pandas as pd
import numpy as np

# Load the Excel file
file_path = 'ifsc-master.xlsx'  # Replace with your actual file path
xls = pd.ExcelFile(file_path)

# Load the sheets into DataFrames
part1 = pd.read_excel(xls, sheet_name='Part1')
part2 = pd.read_excel(xls, sheet_name='Part2')

# Convert 'STD CODE' and 'PHONE' columns to integers, leaving NaN values as is
# For "NaN" (null) values, we want to keep them as is (use NaN in pandas, which is compatible with NULL in SQL)

# Convert STD_CODE and PHONE to integers where possible, keeping NaN as NaN
part1['STD CODE'] = pd.to_numeric(part1['STD CODE'], errors='coerce')  # Coerce errors to NaN
part1['PHONE'] = pd.to_numeric(part1['PHONE'], errors='coerce')  # Coerce errors to NaN

part2['STD CODE'] = pd.to_numeric(part2['STD CODE'], errors='coerce')  # Coerce errors to NaN
part2['PHONE'] = pd.to_numeric(part2['PHONE'], errors='coerce')  # Coerce errors to NaN

# Save both parts to separate CSV files (if needed), or combine them into one CSV file
part1.to_csv('ifsc_part1.csv', index=False)
part2.to_csv('ifsc_part2.csv', index=False)

# Combine both parts into a single CSV file
combined_df = pd.concat([part1, part2], ignore_index=True)
combined_df.to_csv('ifsc_combined.csv', index=False)

print("Conversion complete. CSV files saved as 'ifsc_part1.csv', 'ifsc_part2.csv', and 'ifsc_combined.csv'.")

Conversion complete. CSV files saved as 'ifsc_part1.csv', 'ifsc_part2.csv', and 'ifsc_combined.csv'.

In [1]:
import mysql.connector
import pandas as pd

# Load the combined CSV file into a DataFrame
df = pd.read_csv('ifsc_combined.csv')

# Replace NaN with 0 in 'STD CODE' and 'PHONE' columns
df['STD CODE'] = df['STD CODE'].fillna(0).astype(int)  # Replace NaN with 0 and convert to int
df['PHONE'] = df['PHONE'].fillna(0).astype(int)  # Replace NaN with 0 and convert to int

# Ensure all NaN values in other columns are also replaced by 0 (if you want to replace all NaN)
df = df.fillna(0)

# Database connection details using mysql.connector
host = 'localhost'  # Change this to your database host
user = 'root'
password = 'Msis@123'
database = 'Bank'  # Your database name

# Establish connection using mysql.connector
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Insert data into the IFSC_master table
try:
    cursor = connection.cursor()

    for index, row in df.iterrows():
        sql = """
            INSERT INTO IFSC_master (BANK, IFSC, BRANCH, ADDRESS, CITY1, CITY2, STATE, STD_CODE, PHONE)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(sql, (
            row['BANK'], row['IFSC'], row['BRANCH'], row['ADDRESS'],
            row['CITY1'], row['CITY2'], row['STATE'], row['STD CODE'], row['PHONE']
        ))

    # Commit the transaction
    connection.commit()
    print("Data successfully loaded into the database.")

except mysql.connector.Error as e:
    print(f"An error occurred: {e}")

finally:
    cursor.close()
    connection.close()

Data successfully loaded into the database.

In [3]:
import pandas as pd

# Load the Excel file
file_path = 'merged-banks-ifsc-and-micr.xlsx'  # Replace with the correct file path
xls = pd.ExcelFile(file_path)

# List all sheet names to confirm the correct ones
sheet_names = xls.sheet_names
print(f"Sheet Names: {sheet_names}")

# Initialize a list to hold sheet name and row counts
sheet_row_counts = []

# Loop through all sheets (excluding the first one 'Summary')
for sheet in sheet_names[1:]:
    # Load the current sheet
    df = pd.read_excel(xls, sheet_name=sheet)
    
    # Get the row count for the current sheet
    row_count = df.shape[0]
    
    # Store the result as a tuple of (sheet_name, row_count)
    sheet_row_counts.append((sheet, row_count))

# Convert the results into a DataFrame for better visualization
sheet_row_counts_df = pd.DataFrame(sheet_row_counts, columns=['Sheet Name', 'Row Count'])

# Display the row counts for each sheet
print(sheet_row_counts_df)

# # Optionally, save the result to a CSV if you want to keep track of row counts
# sheet_row_counts_df.to_csv('sheet_row_counts.csv', index=False)

# print("Row count summary saved as 'sheet_row_counts.csv'.")

Sheet Names: ['Summary', 'ALLA-IDIB', 'ANDB-UBIN', 'BKDN-BARB', 'CORP-UBIN', 'LAVB-DBSS', 'ORBC-PUNB', 'SYNB-CNRB', 'UTBI-PUNB', 'VIJB-BARB', 'APCX-KSCX', 'EDSX-KSCX', 'IDUX-KSCX', 'KADX-KSCX', 'KDCX-KSCX', 'KLMX-KSCX', 'KTBX-KSCX', 'PATX-KSCX', 'PKDX-KSCX', 'TDCX-KSCX', 'TKDX-KSCX', 'TNDC-KSCX', 'WDCX-KSCX']
   Sheet Name  Row Count
0   ALLA-IDIB       3162
1   ANDB-UBIN       2863
2   BKDN-BARB       1767
3   CORP-UBIN       2460
4   LAVB-DBSS        563
5   ORBC-PUNB       2368
6   SYNB-CNRB       4101
7   UTBI-PUNB       1994
8   VIJB-BARB       2117
9   APCX-KSCX         55
10  EDSX-KSCX         65
11  IDUX-KSCX         54
12  KADX-KSCX         45
13  KDCX-KSCX         63
14  KLMX-KSCX         63
15  KTBX-KSCX         58
16  PATX-KSCX         60
17  PKDX-KSCX         45
18  TDCX-KSCX         58
19  TKDX-KSCX         65
20  TNDC-KSCX         83
21  WDCX-KSCX         35

In [6]:
import pandas as pd

# Load the Excel file
file_path = 'merged-banks-ifsc-and-micr.xlsx'  # Replace with the correct file path
xls = pd.ExcelFile(file_path)

# List all sheet names to confirm the correct ones
sheet_names = xls.sheet_names
print(f"Sheet Names: {sheet_names}")

# Load all sheets except the first one ('Summary')
dfs = [pd.read_excel(xls, sheet_name=sheet) for sheet in sheet_names[1:]]

# Process and clean the required columns (Old IFSC Code, New IFSC Code, Old MICR, New MICR)
merged_data = []
for df in dfs:
    # Check if the necessary columns exist in the sheet
    if 'Old IFSC Code' in df.columns and 'New IFSC Code' in df.columns and 'Old MICR' in df.columns and 'New MICR' in df.columns:
        df_cleaned = df[['Old IFSC Code', 'New IFSC Code', 'Old MICR', 'New MICR']]
        merged_data.append(df_cleaned)
    else:
        print(f"Skipping sheet {df} due to missing necessary columns.")

# Concatenate all DataFrames into one combined DataFrame
merged_df = pd.concat(merged_data, ignore_index=True)

# Save the final combined DataFrame to a CSV file
merged_df.to_csv('merged_banks_ifsc_combined.csv', index=False)

print("Conversion complete. Final merged CSV saved as 'merged_banks_ifsc_combined.csv'.")

Sheet Names: ['Summary', 'ALLA-IDIB', 'ANDB-UBIN', 'BKDN-BARB', 'CORP-UBIN', 'LAVB-DBSS', 'ORBC-PUNB', 'SYNB-CNRB', 'UTBI-PUNB', 'VIJB-BARB', 'APCX-KSCX', 'EDSX-KSCX', 'IDUX-KSCX', 'KADX-KSCX', 'KDCX-KSCX', 'KLMX-KSCX', 'KTBX-KSCX', 'PATX-KSCX', 'PKDX-KSCX', 'TDCX-KSCX', 'TKDX-KSCX', 'TNDC-KSCX', 'WDCX-KSCX']
Conversion complete. Final merged CSV saved as 'merged_banks_ifsc_combined.csv'.

In [8]:
import mysql.connector
import pandas as pd

# Load the merged_banks_ifsc_combined.csv into a DataFrame
df = pd.read_csv('merged_banks_ifsc_combined.csv')

# Replace NaN with 0 in 'Old IFSC Code', 'New IFSC Code', 'Old MICR', and 'New MICR' columns
df['Old IFSC Code'] = df['Old IFSC Code'].fillna(0)
df['New IFSC Code'] = df['New IFSC Code'].fillna(0)

# Convert 'Old MICR' and 'New MICR' to numeric, forcing errors to NaN, then fill NaN with 0 and convert to int
df['Old MICR'] = pd.to_numeric(df['Old MICR'], errors='coerce').fillna(0).astype(int)
df['New MICR'] = pd.to_numeric(df['New MICR'], errors='coerce').fillna(0).astype(int)

# Database connection details using mysql.connector
host = 'localhost'  # Change this to your database host
user = 'root'
password = 'Msis@123'
database = 'Bank'  # Your database name

# Establish connection using mysql.connector
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Create the Merged_banks table if it doesn't already exist
try:
    cursor = connection.cursor()

    # Create table query
    create_table_query = """
        CREATE TABLE IF NOT EXISTS Merged_banks (
            `Old IFSC Code` VARCHAR(20),
            `New IFSC Code` VARCHAR(20),
            `Old MICR` INT,
            `New MICR` INT
        )
    """
    cursor.execute(create_table_query)

    # Insert data into Merged_banks table
    for index, row in df.iterrows():
        sql = """
            INSERT INTO Merged_banks (`Old IFSC Code`, `New IFSC Code`, `Old MICR`, `New MICR`)
            VALUES (%s, %s, %s, %s)
        """
        cursor.execute(sql, (
            row['Old IFSC Code'], row['New IFSC Code'],
            row['Old MICR'], row['New MICR']
        ))

    # Commit the transaction
    connection.commit()
    print("Data successfully loaded into the Merged_banks table.")

except mysql.connector.Error as e:
    print(f"An error occurred: {e}")

finally:
    cursor.close()
    connection.close()

Data successfully loaded into the Merged_banks table.

In [4]:
import pandas as pd

# Read the Excel file (assuming 'merged-banks-ifsc-and-micr.xlsx' is the file name and the first sheet is 'Summary')
file_path = 'merged-banks-ifsc-and-micr.xlsx'
sheet_name = 'Summary'

# Read the Excel sheet into a DataFrame, skipping the first two rows
df = pd.read_excel(file_path, sheet_name=sheet_name)

# Rename the columns to match the expected names and clean them up
df.columns = ['Sl No', 'Merged Participant Bank Code', 'Merged Participant Bank Name', 
              'Target Participant Bank Code', 'Target Participant Bank Name']

# Clean up the column names by stripping any extra spaces or special characters
df.columns = df.columns.str.strip()

# Select only the necessary columns for insertion
df = df[['Merged Participant Bank Code', 'Merged Participant Bank Name', 
         'Target Participant Bank Code', 'Target Participant Bank Name']]

# Display the first few rows to inspect the columns
print("Columns in the DataFrame:", df.columns)
print("First few rows of data:")
print(df.head())

# Save the cleaned DataFrame to a new CSV file
output_file = 'bank_participants.csv'
df.to_csv(output_file, index=False)

Columns in the DataFrame: Index(['Merged Participant Bank Code', 'Merged Participant Bank Name',
       'Target Participant Bank Code', 'Target Participant Bank Name'],
      dtype='object')
First few rows of data:
  Merged Participant Bank Code     Merged Participant Bank Name  \
0                         LDRX        LANGPI DEHANGI RURAL BANK
1                         NSIX  NAGRIK SAHAKARI BANK LTD INDORE
2                         AUGX         ALLAHABAD UP GRAMIN BANK
3                         VIJB                      VIJAYA BANK
4                         BKDN                        DENA BANK

  Target Participant Bank Code    Target Participant Bank Name
0                         AGVX        ASSAM GRAMIN VIKASH BANK
1                         AKOX  THE AKOLA URBAN CO OP BANK LTD
2                         ARYX                   ARYAVART BANK
3                         BARB                  BANK OF BARODA
4                         BARB                  BANK OF BARODA

In [20]:
import pandas as pd
import mysql.connector

# Read the Excel file (assuming 'merged-banks-ifsc-and-micr.xlsx' is the file name and the first sheet is 'Summary')
file_path = 'merged-banks-ifsc-and-micr.xlsx'
sheet_name = 'Summary'

# Read the Excel sheet into a DataFrame, skipping the first two rows
df = pd.read_excel(file_path, sheet_name=sheet_name)

# Rename the columns to match the expected names and clean them up
df.columns = ['Sl No', 'Merged Participant Bank Code', 'Merged Participant Bank Name', 
              'Target Participant Bank Code', 'Target Participant Bank Name']

# Clean up the column names by stripping any extra spaces or special characters
df.columns = df.columns.str.strip()

# Select only the necessary columns for insertion
df = df[['Merged Participant Bank Code', 'Merged Participant Bank Name', 
         'Target Participant Bank Code', 'Target Participant Bank Name']]

# Display the first few rows to inspect the columns
print("Columns in the DataFrame:", df.columns)
print("First few rows of data:")
print(df.head())

# Establish MySQL connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Msis@123",
    database="Bank"  # Replace with your actual database name
)

cursor = conn.cursor()

# Drop the table if it already exists
drop_table_query = "DROP TABLE IF EXISTS bank_participants"
cursor.execute(drop_table_query)

# Create the table if not exists, without a primary key as requested
create_table_query = """
CREATE TABLE IF NOT EXISTS bank_participants (
    merged_participant_code VARCHAR(10) NOT NULL,
    merged_participant_name VARCHAR(255) NOT NULL,
    target_participant_code VARCHAR(10) NOT NULL,
    target_participant_name VARCHAR(255) NOT NULL
);
"""
cursor.execute(create_table_query)

# Insert data into the bank_participants table
for _, row in df.iterrows():
    # Prepare the insert query
    insert_query = """
    INSERT INTO bank_participants (merged_participant_code, merged_participant_name, target_participant_code, target_participant_name)
    VALUES (%s, %s, %s, %s)
    """
    
    # Get values from the dataframe row
    data = (row['Merged Participant Bank Code'], row['Merged Participant Bank Name'], 
            row['Target Participant Bank Code'], row['Target Participant Bank Name'])
    
    # Execute the insert query
    cursor.execute(insert_query, data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

print("Data loaded successfully into the MySQL database!")

Columns in the DataFrame: Index(['Merged Participant Bank Code', 'Merged Participant Bank Name',
       'Target Participant Bank Code', 'Target Participant Bank Name'],
      dtype='object')
First few rows of data:
  Merged Participant Bank Code     Merged Participant Bank Name  \
0                         LDRX        LANGPI DEHANGI RURAL BANK
1                         NSIX  NAGRIK SAHAKARI BANK LTD INDORE
2                         AUGX         ALLAHABAD UP GRAMIN BANK
3                         VIJB                      VIJAYA BANK
4                         BKDN                        DENA BANK

  Target Participant Bank Code    Target Participant Bank Name
0                         AGVX        ASSAM GRAMIN VIKASH BANK
1                         AKOX  THE AKOLA URBAN CO OP BANK LTD
2                         ARYX                   ARYAVART BANK
3                         BARB                  BANK OF BARODA
4                         BARB                  BANK OF BARODA
Data loaded successfully into the MySQL database!

In [1]:
import pandas as pd

# Read the Excel file (assuming 'submember-banks-ifsc-and-micr.xlsx' is the file name)
file_path = 'submember-banks-ifsc-and-micr.xlsx'

# Read the Excel sheet into a DataFrame, assuming the first sheet is the one containing the data
df = pd.read_excel(file_path)

# Rename columns to match the expected names and clean them up
df.columns = ['Sl No', 'Bank Code', 'IFSC', 'MICR', 'Bank Name']

# Drop the 'Sl No' column as it's not required for the insert
df = df.drop(columns=['Sl No'])

# Clean up the column names by stripping any extra spaces or special characters
df.columns = df.columns.str.strip()

# Select only the necessary columns for export
df = df[['Bank Code', 'IFSC', 'MICR', 'Bank Name']]

# Replace NaN values in 'Bank Code', 'IFSC', and 'Bank Name' with an empty string ''
df[['Bank Code', 'IFSC', 'Bank Name']] = df[['Bank Code', 'IFSC', 'Bank Name']].fillna('')

# Replace NaN values in 'MICR' with 0
df['MICR'] = df['MICR'].fillna(0)

# Save the DataFrame to a CSV file
csv_file_path = 'submember_banks.csv'
df.to_csv(csv_file_path, index=False)

print(f"CSV file saved at: {csv_file_path}")
print("Count of rows in the DataFrame:", len(df))

CSV file saved at: submember_banks.csv
Count of rows in the DataFrame: 71445

In [2]:
# Check for NaN values in the DataFrame
nan_values = df.isnull().sum()
print("NaN values in each column:")
print(nan_values)

NaN values in each column:
Bank Code      0
IFSC         718
MICR           0
Bank Name      0
dtype: int64

In [1]:
import pandas as pd
import mysql.connector

# Load the CSV file into a DataFrame
csv_file_path = 'submember_banks.csv'
df = pd.read_csv(csv_file_path)

# Check for NaN values in the DataFrame
nan_values = df.isnull().sum()
print("NaN values in each column:")
print(nan_values)

# Replace NaN values in the 'IFSC' column with an empty string ''
df['IFSC'] = df['IFSC'].fillna('')

# Establish MySQL connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Msis@123",
    database="Bank"  # Replace with your actual database name
)

cursor = conn.cursor()

# Drop the table if it already exists
drop_table_query = "DROP TABLE IF EXISTS submember_banks"
cursor.execute(drop_table_query)

# Create the table if not exists, without a primary key
create_table_query = """
CREATE TABLE IF NOT EXISTS submember_banks (
    bank_code VARCHAR(10),
    ifsc VARCHAR(20),
    micr VARCHAR(20),
    bank_name VARCHAR(255)
);
"""
cursor.execute(create_table_query)

# Insert data into the submember_banks table
for _, row in df.iterrows():
    # Prepare the insert query
    insert_query = """
    INSERT INTO submember_banks (bank_code, ifsc, micr, bank_name)
    VALUES (%s, %s, %s, %s)
    """
    
    # Get values from the dataframe row
    data = (row['Bank Code'], row['IFSC'], row['MICR'], row['Bank Name'])
    
    # Execute the insert query
    cursor.execute(insert_query, data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

print("Data loaded successfully into the MySQL database!")

NaN values in each column:
Bank Code      0
IFSC         718
MICR           0
Bank Name      0
dtype: int64
Data loaded successfully into the MySQL database!

In [7]:
import mysql.connector

def create_indexes():
    try:
        # Establish database connection
        conn = mysql.connector.connect(
            host="localhost",
    user="root",
    password="Msis@123",
    database="Bank" 
        )
        cursor = conn.cursor()
        
        # Indexes for IFSC_master table
        cursor.execute("""
        ALTER TABLE IFSC_master 
        ADD INDEX idx_ifsc (IFSC)
        """)
        
        cursor.execute("""
        ALTER TABLE IFSC_master 
        ADD INDEX idx_bank (BANK)
        """)
        
        cursor.execute("""
        ALTER TABLE IFSC_master 
        ADD INDEX idx_branch_city (BRANCH, CITY1)
        """)
        
        cursor.execute("""
        ALTER TABLE IFSC_master 
        ADD INDEX idx_state_city (STATE, CITY1)
        """)
        
        # Indexes for Merged_banks table
        cursor.execute("""
        ALTER TABLE Merged_banks 
        ADD INDEX idx_old_ifsc (Old_IFSC_Code)
        """)
        
        cursor.execute("""
        ALTER TABLE Merged_banks 
        ADD INDEX idx_new_ifsc (New_IFSC_Code)
        """)
        
        # Indexes for submember_banks table
        cursor.execute("""
        ALTER TABLE submember_banks 
        ADD INDEX idx_ifsc (ifsc)
        """)
        
        cursor.execute("""
        ALTER TABLE submember_banks 
        ADD INDEX idx_bank_code (bank_code)
        """)
        
        # Indexes for bank_participants table (though not directly related to IFSC lookup)
        cursor.execute("""
        ALTER TABLE bank_participants 
        ADD INDEX idx_merged_code (merged_participant_code)
        """)
        
        cursor.execute("""
        ALTER TABLE bank_participants 
        ADD INDEX idx_target_code (target_participant_code)
        """)
        
        print("Indexes created successfully!")
        
    except mysql.connector.Error as error:
        print(f"Error creating indexes: {error}")
        
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()

if __name__ == "__main__":
    create_indexes()

Error creating indexes: 1061 (42000): Duplicate key name 'idx_ifsc'

In [ ]:
# Test Case for Basic IFSC Code Lookup
def test_ifsc_lookup(x):
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Msis@123",
            database="Bank"
        )
        cursor = conn.cursor(dictionary=True)
        
        # Test with a known IFSC code
        test_ifsc = x  # Replace with a valid IFSC from your db
        # Ensure the index exists
        cursor.execute("SHOW INDEX FROM IFSC_master WHERE Key_name = 'idx_ifsc'")
        index_info = cursor.fetchone()
        assert index_info is not None, "Index 'idx_ifsc' does not exist on IFSC_master table"

        # Use EXPLAIN to check if the index is being used
        cursor.execute("EXPLAIN SELECT * FROM IFSC_master FORCE INDEX (idx_ifsc) WHERE IFSC = %s", (test_ifsc,))
        explain_result = cursor.fetchall()
        
        # Check if the index 'idx_ifsc' is being used in any of the rows returned by EXPLAIN
        index_used = any(row['key'] == 'idx_ifsc' for row in explain_result)
        assert index_used, "IFSC index not being used"
        
        cursor.execute("SELECT * FROM IFSC_master WHERE IFSC = %s", (test_ifsc,))
        result = cursor.fetchone()
        
        assert result is not None, "IFSC lookup failed"
        assert result['IFSC'] == test_ifsc, "Incorrect IFSC returned"
        
        print("Basic IFSC lookup test passed!")
        
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()
        
test_ifsc_lookup('ABHY0065101')

AssertionError: IFSC lookup failed

In [15]:
test_ifsc_lookup('ABHY0065001')

Basic IFSC lookup test passed!

In [24]:
# Test Case for Bank Name Search

def test_bank_name_search(x):
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Msis@123",
            database="Bank"
        )
        cursor = conn.cursor(dictionary=True)
        
        # Test with a known bank name
        test_bank = x  # Replace with a valid bank name
        cursor.execute("EXPLAIN SELECT * FROM IFSC_master WHERE BANK = %s LIMIT 10", (test_bank,))
        explain_result = cursor.fetchone()
        
        assert explain_result['key'] == 'idx_bank', "Bank name index not being used"
        
        cursor.execute("SELECT * FROM IFSC_master WHERE BANK = %s LIMIT 10", (test_bank,))
        results = cursor.fetchall()
        
        assert len(results) > 0, "No results for bank name search"
        for result in results:
            assert test_bank in result['BANK'], "Incorrect bank returned"
        
        print("Bank name search test passed!")
        
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()

test_bank_name_search("STATE BANK OF INDIA")
test_bank_name_search("YES BANK")
test_bank_name_search("NO BANK")

Bank name search test passed!
Bank name search test passed!

AssertionError: No results for bank name search

In [ ]:
# Test Case for Branch and City Search

def test_branch_city_search(branch, city):
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Msis@123",
            database="Bank"
        )
        cursor = conn.cursor(dictionary=True)
        
        test_branch = branch   # Exact match now
        test_city = city
        
        cursor.execute("""
            EXPLAIN SELECT * FROM IFSC_master FORCE INDEX (idx_branch_city)
            WHERE BRANCH = %s AND CITY1 = %s LIMIT 10
        """, (test_branch, test_city))
        explain_result = cursor.fetchone()
        print("EXPLAIN result:", explain_result)

        assert explain_result['key'] == 'idx_branch_city', "Branch-city index not being used"
        
        cursor.execute("""
            SELECT * FROM IFSC_master FORCE INDEX (idx_branch_city)
            WHERE BRANCH = %s AND CITY1 = %s LIMIT 10
        """, (test_branch, test_city))
        results = cursor.fetchall()
        
        assert len(results) > 0, "No results for branch-city search"
        for result in results:
            assert result['BRANCH'] == test_branch, "Incorrect branch returned"
            assert result['CITY1'] == test_city, "Incorrect city returned"
        
        print("Branch-city search test passed!")
        
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()

test_branch_city_search("KOLKATA MAIN", "KOLKATA")
test_branch_city_search("KOLKATA MAIN", "Bellary")

EXPLAIN result: {'id': 1, 'select_type': 'SIMPLE', 'table': 'IFSC_master', 'partitions': None, 'type': 'ref', 'possible_keys': 'idx_branch_city', 'key': 'idx_branch_city', 'key_len': '2046', 'ref': 'const,const', 'rows': 1, 'filtered': 100.0, 'Extra': None}
Branch-city search test passed!
EXPLAIN result: {'id': 1, 'select_type': 'SIMPLE', 'table': 'IFSC_master', 'partitions': None, 'type': 'ref', 'possible_keys': 'idx_branch_city', 'key': 'idx_branch_city', 'key_len': '2046', 'ref': 'const,const', 'rows': 1, 'filtered': 100.0, 'Extra': None}

AssertionError: No results for branch-city search

In [5]:
# Test Case for Merged Bank IFSC Lookup
import mysql.connector

def test_merged_bank_lookup(old_ifsc):
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Msis@123",
            database="Bank"
        )
        cursor = conn.cursor(dictionary=True)
        
        # Test with a known old IFSC code
        test_old_ifsc = old_ifsc  # Replace with a valid old IFSC
        cursor.execute("EXPLAIN SELECT * FROM Merged_banks WHERE Old_IFSC_Code = %s", (test_old_ifsc,))
        explain_result = cursor.fetchone()
        
        assert explain_result['key'] == 'idx_old_ifsc', "Old IFSC index not being used"
        
        cursor.execute("SELECT * FROM Merged_banks WHERE Old_IFSC_Code = %s", (test_old_ifsc,))
        result = cursor.fetchone()
        
        assert result is not None, "Merged bank lookup failed"
        assert result['Old_IFSC_Code'] == test_old_ifsc, "Incorrect old IFSC returned"
        
        print("Merged bank lookup test passed!")
        
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()

test_merged_bank_lookup("ALLA0210127")
test_merged_bank_lookup("ALBA0211111")

Merged bank lookup test passed!

AssertionError: Merged bank lookup failed

In [ ]:
# Test Case for Performance Comparison Test

import time
import mysql.connector

def test_performance_comparison():
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Msis@123",
            database="Bank"
        )
        cursor = conn.cursor(dictionary=True)
        
        # Test with index
        start_time = time.time()
        cursor.execute("SELECT * FROM IFSC_master WHERE IFSC = 'SBIN0000817'")
        cursor.fetchall()
        indexed_time = time.time() - start_time

        # Check if the index exists
        cursor.execute("""
            SELECT COUNT(*) AS idx_exists
            FROM information_schema.statistics
            WHERE table_schema = 'Bank'
              AND table_name = 'IFSC_master'
              AND index_name = 'idx_ifsc'
        """)
        result = cursor.fetchone()
        if result["idx_exists"]:
            cursor.execute("ALTER TABLE IFSC_master DROP INDEX idx_ifsc")
            conn.commit()

        # Test without index
        start_time = time.time()
        cursor.execute("SELECT * FROM IFSC_master WHERE IFSC = 'SBIN0000817'")
        cursor.fetchall()
        non_indexed_time = time.time() - start_time

        # Re-enable index
        cursor.execute("ALTER TABLE IFSC_master ADD INDEX idx_ifsc (IFSC)")
        conn.commit()

        print(f"Indexed query time: {indexed_time:.6f} seconds")
        print(f"Non-indexed query time: {non_indexed_time:.6f} seconds")
        assert indexed_time < non_indexed_time, "Index not improving performance"

        print("Performance comparison test passed!")

    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()

test_performance_comparison()

Indexed query time: 0.000257 seconds
Non-indexed query time: 0.000241 seconds

AssertionError: Index not improving performance

In [6]:
# Test Case for State and City Combination Search
import mysql.connector

def test_state_city_search(state, city):
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Msis@123",
            database="Bank"
        )
        cursor = conn.cursor(dictionary=True)
        
        # Test with state and city
        test_state = state  # Replace with valid state
        test_city = city          # Replace with valid city
        cursor.execute("""
            EXPLAIN SELECT * FROM IFSC_master 
            WHERE STATE = %s AND CITY1 = %s LIMIT 10
        """, (test_state, test_city))
        explain_result = cursor.fetchone()
        
        assert explain_result['key'] == 'idx_state_city', "State-city index not being used"
        
        cursor.execute("""
            SELECT * FROM IFSC_master 
            WHERE STATE = %s AND CITY1 = %s LIMIT 10
        """, (test_state, test_city))
        results = cursor.fetchall()
        
        assert len(results) > 0, "No results for state-city search"
        for result in results:
            assert result['STATE'] == test_state, "Incorrect state returned"
            assert result['CITY1'] == test_city, "Incorrect city returned"
        
        print("State-city search test passed!")
        
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()

test_state_city_search("MAHARASHTRA", "PUNE")
test_state_city_search("TAMIL NADU", "CHENNAI")
test_state_city_search("TAMIL NADU", "PUNE")

State-city search test passed!
State-city search test passed!

AssertionError: No results for state-city search