# Basic Pandas Operations with Indian Cities


This notebook introduces basic pandas operations using a dataset of Indian cities. 
The operations include creating DataFrames, accessing data, filtering, grouping, and some basic statistical operations.

In [ ]:
import pandas as pd
import numpy as np

## Creating a DataFrame

In [ ]:

data = {
    'City': ['Mumbai', 'Delhi', 'Bengaluru', 'Hyderabad', 'Ahmedabad', 'Chennai', 'Kolkata', 'Surat', 'Pune', 'Jaipur'],
    'State': ['Maharashtra', 'Delhi', 'Karnataka', 'Telangana', 'Gujarat', 'Tamil Nadu', 'West Bengal', 'Gujarat', 'Maharashtra', 'Rajasthan'],
    'Population': [20411000, 16787941, 8499399, 6809970, 5570585, 4681087, 4486679, 4467797, 3124458, 3046163],
    'Area_km2': [603, 1484, 709, 650, 464, 426, 185, 326, 331, 484]
}
df = pd.DataFrame(data)
df

## Viewing the Data

In [ ]:

# Show first few rows
df.head()

## Basic Descriptive Statistics

In [ ]:

# Show basic statistics
df.describe()

## Selecting Columns

In [ ]:

# Select specific columns
df[['City', 'Population']]

## Filtering Rows

In [ ]:

# Filter cities with a population greater than 5 million
df[df['Population'] > 5000000]

## Sorting Data

In [ ]:

# Sort cities by population in descending order
df.sort_values(by='Population', ascending=False)

## Grouping Data

In [ ]:

# Group by State and sum Population
df.groupby('State')['Population'].sum()

## Adding a New Column

In [ ]:

# Add a new column for population density
df['Density'] = df['Population'] / df['Area_km2']
df