In [1]:
import pandas as pd
data = {'Name':['Nikhil','Karthik','Nithik','Sanjay','Akash','Pavan'],
        'Age':[22,26,23,23,22,27],}
df = pd.DataFrame(data)
print(df)

      Name  Age
0   Nikhil   22
1  Karthik   26
2   Nithik   23
3   Sanjay   23
4    Akash   22
5    Pavan   27

In [2]:
print(df['Name'])

0     Nikhil
1    Karthik
2     Nithik
3     Sanjay
4      Akash
5      Pavan
Name: Name, dtype: object

In [3]:
print(df[['Name','Age']])

      Name  Age
0   Nikhil   22
1  Karthik   26
2   Nithik   23
3   Sanjay   23
4    Akash   22
5    Pavan   27

In [4]:
print(df.iloc[0])

Name    Nikhil
Age         22
Name: 0, dtype: object

In [5]:
print(df.loc[0,'Name'])

Nikhil

In [6]:
df['Mark'] = [99,98,99,98,99,98]

In [7]:
print(df)

      Name  Age  Mark
0   Nikhil   22    99
1  Karthik   26    98
2   Nithik   23    99
3   Sanjay   23    98
4    Akash   22    99
5    Pavan   27    98

In [12]:
df['Age'] = df['Age'] + 1
print(df)

      Name  Age  Mark
0   Nikhil   23    99
1  Karthik   27    98
2   Nithik   24    99
3   Sanjay   24    98
4    Akash   23    99
5    Pavan   28    98